node_modules/
uploads/
backend/node_modules/
unicode-frontend/node_modules/
backend/target/
unicode-frontend/dist/
backend/uploads/
backend/startup-check.log
*.log
.DS_Store
.idea/

# Ignore ONLY local dev config
**/application-dev.properties

# Keep test config
!backend/src/test/resources/application-test.properties

# Env files
**/*.env
.env
.env.*
!.env.example

local-config.yml
